#container {
    margin-left: 300px;
    margin-top: 190pt;
    width: 750px;
    border: 1px solid grey;
    height:auto;
    background-color: rgb(230, 235, 238);
}

#articleimg
{
    width: 100px; 
    height: 100px;
}
#articlediv
{
   padding-left:100px;
}
#title
{
    color:black;
}
.btn {
    background-color:  rgb(59, 168, 231); 
   border-radius: 5px;
 text-align: center;
 border:none;
 width:70px;
 height:100px;
 float:right;

}
 b {
     font-size: 22pt;
    padding-left: 300px;
    display: inline;
 }

 fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove  rgb(59, 168, 231);
    
  }
  legend {
    width:auto;
    }
#noResult
    {
        font-size: 18pt;
        padding-left: 0px;
        margin-left:275px;
        color: tomato;
    }
    .responsetxt
    {
        width:640px;
        height:100px;
    }
    #alertFail , #alertSuccess
	{
		width:250px;
		margin-left:600px;
		display:block;
		position: absolute;
		z-index: 11;
		top:10px;
	  
	}