#Allarticles {
    margin-left: 300px;
    margin-top: 190pt;
    width: 750px;
    border: 1px solid grey;
    height:auto;
    background-color: rgb(230, 235, 238);
}

#articleimg
{
    width: 100px; 
    height: 100px;
}

#title
{
    color:black;
}
.btn {
 background-color:  rgb(59, 168, 231); 
 border-radius: 5px;
 text-align: center;
 border:none;
 width:170px;
 height:40px;
 float:right;
 margin-top:25px;
 color:black;
}
#noResult
    {
        font-size: 18pt;
        padding-left: 0px;
        margin-left:150px;
        color: tomato;
    }